body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777; }

.white-text {
  color: #fff; }

.bgimg {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.section-1 {
  text-align: center;
  background-image: -moz-linear-gradient(left, rgba(34, 173, 0, 0.8) 0%, rgba(2, 154, 255, 0.8) 100%), url("../img/img_swell3.jpg");
  /* FF3.6-15 */
  background-image: -webkit-linear-gradient(left, rgba(34, 173, 0, 0.8) 0%, rgba(2, 154, 255, 0.8) 100%), url("../img/img_swell3.jpg");
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to right, rgba(34, 173, 0, 0.8) 0%, rgba(2, 154, 255, 0.8) 100%), url("../img/img_swell3.jpg");
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 70vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 69.28571%, 50% 100%, 0 69.28571%);
  clip-path: polygon(0 0, 100% 0, 100% 69.28571%, 50% 100%, 0 69.28571%); }
  .section-1 .logo-title {
    font-size: 10vw;
    color: white; }

.section-2 {
  background: white;
  height: 70; }
  .section-2 .content {
    display: flex; }

.section-3 {
  background-image: -moz-linear-gradient(left, rgba(2, 154, 255, 0.8) 0%, rgba(2, 154, 255, 0.8) 100%), url("../img/img_swell2.jpg");
  /* FF3.6-15 */
  background-image: -webkit-linear-gradient(left, rgba(2, 154, 255, 0.8) 0%, rgba(2, 154, 255, 0.8) 100%), url("../img/img_swell2.jpg");
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to right, rgba(2, 154, 255, 0.8) 0%, rgba(2, 154, 255, 0.8) 100%), url("../img/img_swell2.jpg");
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 70vw;
  -webkit-clip-path: polygon(0 0, 50% 30.71429%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 50% 30.71429%, 100% 0, 100% 100%, 0 100%); }

.section-4 {
  background-color: #3d3d3d;
  height: 70vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 69.28571%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 69.28571%, 0 100%); }

.section-5 {
  margin-top: -22.5vw;
  z-index: -1;
  background-image: -moz-linear-gradient(left, rgba(35, 35, 35, 0.8) 0%, rgba(35, 35, 35, 0.8) 100%), url("../img/img_swell2.jpg");
  /* FF3.6-15 */
  background-image: -webkit-linear-gradient(left, rgba(35, 35, 35, 0.8) 0%, rgba(35, 35, 35, 0.8) 100%), url("../img/img_swell2.jpg");
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to right, rgba(35, 35, 35, 0.8) 0%, rgba(35, 35, 35, 0.8) 100%), url("../img/img_swell2.jpg");
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 70vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 69.28571%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 69.28571%, 0 100%); }

.section-6 {
  background: white;
  height: 40vw; }

.section-7 {
  background-image: -moz-linear-gradient(left, rgba(34, 173, 0, 0.8) 0%, rgba(2, 154, 255, 0.8) 100%), url("../img/img_swell1.jpg");
  /* FF3.6-15 */
  background-image: -webkit-linear-gradient(left, rgba(34, 173, 0, 0.8) 0%, rgba(2, 154, 255, 0.8) 100%), url("../img/img_swell1.jpg");
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to right, rgba(34, 173, 0, 0.8) 0%, rgba(2, 154, 255, 0.8) 100%), url("../img/img_swell1.jpg");
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 40vw; }

.footer {
  background-color: #3d3d3d;
  height: 200px; }

.bgimg-3 {
  background-image: -moz-linear-gradient(left, rgba(34, 173, 0, 0.8) 0%, rgba(2, 154, 255, 0.8) 100%), url("../img/img_swell4.jpg");
  /* FF3.6-15 */
  background-image: -webkit-linear-gradient(left, rgba(34, 173, 0, 0.8) 0%, rgba(2, 154, 255, 0.8) 100%), url("../img/img_swell4.jpg");
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to right, rgba(34, 173, 0, 0.8) 0%, rgba(2, 154, 255, 0.8) 100%), url("../img/img_swell4.jpg");
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 500px; }

.content {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .section-1 {
    height: 70vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 69.28571%, 50% 100%, 0 69.28571%);
    clip-path: polygon(0 0, 100% 0, 100% 69.28571%, 50% 100%, 0 69.28571%); }
  .section-3 {
    height: 70vw;
    -webkit-clip-path: polygon(0 0, 50% 30.71429%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 50% 30.71429%, 100% 0, 100% 100%, 0 100%); }
  .section-4 {
    height: 70vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 69.28571%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 69.28571%, 0 100%); }
  .section-6 {
    height: 40vw; } }

@media (min-width: 768px) {
  .section-1 {
    height: 70vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 69.28571%, 50% 100%, 0 69.28571%);
    clip-path: polygon(0 0, 100% 0, 100% 69.28571%, 50% 100%, 0 69.28571%); }
  .section-3 {
    height: 70vw;
    -webkit-clip-path: polygon(0 0, 50% 30.71429%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 50% 30.71429%, 100% 0, 100% 100%, 0 100%); }
  .section-4 {
    height: 70vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 69.28571%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 69.28571%, 0 100%); }
  .section-6 {
    height: 40vw; } }

@media (min-width: 992px) {
  .section-1 {
    height: 50vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 57%, 50% 100%, 0 57%);
    clip-path: polygon(0 0, 100% 0, 100% 57%, 50% 100%, 0 57%); }
  .section-3 {
    height: 50vw;
    -webkit-clip-path: polygon(0 0, 50% 43%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 50% 43%, 100% 0, 100% 100%, 0 100%); }
  .section-4 {
    height: 50vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 57%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 57%, 0 100%); }
  .section-6 {
    height: 40vw; } }

@media (min-width: 1200px) {
  .section-1 {
    height: 40vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 46.25%, 50% 100%, 0 46.25%);
    clip-path: polygon(0 0, 100% 0, 100% 46.25%, 50% 100%, 0 46.25%); }
  .section-3 {
    height: 40vw;
    -webkit-clip-path: polygon(0 0, 50% 53.75%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 50% 53.75%, 100% 0, 100% 100%, 0 100%); }
  .section-4 {
    height: 40vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 46.25%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 46.25%, 0 100%); }
  .section-6 {
    height: 40vw; } }

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg {
    background-attachment: scroll; } }
