// param $url: The background image src url
@mixin backgroundImageGradient($url) {
    background-image: -moz-linear-gradient(left, $gradient-left 0%, $gradient-right 100%), url($url); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(left, $gradient-left 0%,$gradient-right 100%), url($url); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to right, $gradient-left 0%,$gradient-right 100%), url($url); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin backgroundImageOverlay($url, $overlay-color) {
    background-image: -moz-linear-gradient(left, $overlay-color 0%, $overlay-color 100%), url($url); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(left, $overlay-color 0%,$overlay-color 100%), url($url); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to right, $overlay-color 0%,$overlay-color 100%), url($url); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// param $height: The height of the section in vw
@mixin chevronSectionDown($height) {
    height: #{$height}vw;    
    $vertex: 100% * (1 - $chevron-angle / $height);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% $vertex, 50% 100%, 0 $vertex);
    clip-path: polygon(0 0, 100% 0, 100% $vertex, 50% 100%, 0 $vertex);
}

@mixin chevronSectionUp($height) {
    height: #{$height}vw;    
    $vertex: 100% * ($chevron-angle / $height);
    -webkit-clip-path: polygon(0 $vertex, 50% 0, 100% $vertex, 100% 100%, 50% 100% - $vertex, 0 100%);
    clip-path: polygon(0 $vertex, 50% 0, 100% $vertex, 100% 100%, 50% 100% - $vertex, 0 100%);
}