$gradient-left: rgba(34, 173, 0, .8);
$gradient-right: rgba(2, 154, 255, .8);
$overlay-color-blue: rgba(2, 154, 255, .8);
$overlay-color-gray: rgba(35, 35, 35, .8);

$bgImgUrl1: "../img/img_swell3.jpg";
$bgImgUrl2: "../img/img_swell2.jpg"; 
$bgImgUrl3: "../img/img_swell4.jpg";
$bgImgUrl4: "../img/img_swell1.jpg";

$darkGray: #3d3d3d;

// measured in % 
$chevron-angle: 21.5;

// will be rendered as vw
$section-1-height-xs: 70;
$section-1-height-sm: 70; 
$section-1-height-md: 70;
$section-1-height-lg: 50;
$section-1-height-xl: 40;

// will be rendered as vw
$section-2-height-xs: 70;
$section-2-height-sm: 70;
$section-2-height-md: 70;
$section-2-height-lg: 50;
$section-2-height-xl: 40;

// will be rendered as vw
$section-6-height-xs: 40vw;
$section-6-height-sm: 40vw;
$section-6-height-md: 40vw;
$section-6-height-lg: 40vw;
$section-6-height-xl: 40vw;

$footer-height-xs: 200px;
$footer-height-sm: 40vw;
$footer-height-md: 200px;
$footer-height-lg: 40vw;
$footer-height-xl: 40vw;