@import 'variables';
@import 'mixins';

body, html {
  height: 100%;
  margin: 0;  
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: $dark-gray;
}

.bgimg {
    position: relative;
    //opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    position: relative;
}

.section-title {
    text-align: center;    
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 8px;
}

.content { 
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    font-size: 22px;
    padding: 20px 20px;
    text-decoration: none;
    background-color: $white;    
}

.spacer-20 {
    height: 20px;
}

.section-1 {    
    text-align: center;
    @include backgroundImageGradient($bgImgUrl1);    
    @include chevronSectionDown($section-1-height-xs);
    z-index: 100;
    color: $light-text; 
    .content {
        .logo-title {                        
            padding-top: 25vw;
            width: 85vw;
        }
        p {
            font-size: 20px;
            margin-bottom: 16vw; 
        }
        .btn {            
            padding: 14px 40px;      
            font-size: 22px;
            border: 2px solid $white;
            transition: all 0.3s ease;
            color: #4fa374;   
            &:hover {
                background-color: transparent;
                color: $white;
            }      
        }
    }
    .down-arrow-container {
        position: absolute;
        width: 100%;
        bottom: 20px;
        .down-arrow {
            margin-left: auto;
            margin-right: auto;
            width: 72px;
            height: 18px;
            background-color: white;
            -webkit-clip-path: polygon(0 0, 50% 88%, 100% 0, 100% 12%, 50% 100%, 0 12%);
            clip-path: polygon(0 0, 50% 88%, 100% 0, 100% 12%, 50% 100%, 0 12%);
        }
    }    
}

.section-2 {
    background: $white;    
    @include chevronSectionDown($section-2-height-xs);
    z-index: 90; 
    margin-top: -#{$chevron-angle}vw;
    //padding-top: #{$chevron-angle + 3}vw;    
    .content {
        color: $dark-text;
    }
}

.section-3 {
    @include backgroundImageOverlay($bgImgUrl2, $overlay-color-blue);        
    margin-top: -#{$chevron-angle + 3}vw;
    padding-top: #{$chevron-angle + 3}vw;  
    z-index: 80;
    color: $light-text;
    .content {        
        .get-started {
            //background-color: rgba(35, 35, 35, .5);
            border: 1px solid $light-text;
            margin: 20px;
            padding: 10px;
            min-height: 200px;
            text-align: center;
            h4 {
                    font-size: 24px;
                    text-transform: uppercase;
                    margin-top: 8px;
                    margin-bottom: 0;
                }
            p {                                
                font-size: 22px;
            }
            .btn {
                display: block;
                border: 2px solid $white;
                transition: all 0.3s ease;
                color: $brand-blue;
                &:hover {
                    background-color: transparent;
                    color: $light-text;
                }
            }            
        }
    }
}

.section-4 {
    background-color: $dark-gray;
    height: #{$section-4-height-xs}vw;        
    z-index: 80;
    color: $light-text; 
}

.section-5 {
    @include backgroundImageOverlay($bgImgUrl2, $overlay-color-gray);    
    @include chevronSectionUp($section-5-height-xs);
    z-index: 90;
    margin-top: -#{$chevron-angle}vw;
    .content {        
        line-height: #{$section-5-height-xs - 5}vw;
        color: $light-text;
        text-align: center;
        font-weight: 600;
        font-size: 9vw;        
    }    
}

.section-6 {
    background: white;    
    z-index: 80;
    margin-top: -#{$chevron-angle}vw;
    color: $dark-text;
    .content {
        padding-top: 8vw;        
        padding-bottom: 40px;        
        .section-title {
            color: $brand-blue;
        }
        p {
            padding: 0 20px;
        }
    }
}

.section-7 {
    @include backgroundImageGradient($bgImgUrl4);
    height: 500px;
    color: $light-text;
    margin-top: -32px;
    .content {
        .section-title {
            margin-top: 0;
            padding-top: 64px;
        }
        form {
            text-align: center;
            width: 80%;
            max-width: 768px;
            margin: 0 auto;
            .form-field {
                display: block;
                height: 50px;
                width: 100%;
                padding: 10px 20px;
                margin: 10px 0;
                box-sizing: border-box;                
            }
            textarea.form-field {
                height: 100px;
            }
            button {
                text-transform: uppercase;
                letter-spacing: 4px;
                display: block;
                width: 100%;
                border: none;
                transition: all 0.3s ease;                
                background-color: rgba(255, 255, 255, .5);
                color: $light-text;
                &:hover {
                    background-color: rgba(255, 255, 255, 1);
                    color: #4fa374;
                    cursor: pointer;
                }
            }
        }
    }
}

.section-footer {
    background-color: $dark-gray;
    height: 200px;
}

@import 'media-sm';
@import 'media-md';
@import 'media-lg';
@import 'media-xl';

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg {
        background-attachment: scroll;
        
    }
}