// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .section-1 {
        @include chevronSectionDown($section-1-height-xl);
        .content {
            padding-top: 10vw;
            p {
                margin-bottom: 6vw; 
            }            
        }
    }
    .section-2 {
        @include chevronSectionDown($section-2-height-xl);        
        .content {
            .hiw-full {
                margin-top: -265px;
                width: 85%;
            }            
            .hiw-text {
                width: 20%;
                font-size: 20px;
                &:nth-of-type(1) {
                    top: 60%;
                    left: 13%;
                }
                &:nth-of-type(2) {
                    top: 82%;
                    left: 39.5%;
                }
                &:nth-of-type(3) {
                    top: 60%;
                    left: 67.5%;
                }
            }
        }
    }
    .section-3 {
        .content {
            .get-started {
                padding: 0 75px;
            }
        }
    }
    .section-4 {
        height: #{$section-4-height-xl}vw;
    }
    .section-5 {
        @include chevronSectionUp($section-5-height-xl);
        .content {            
            line-height: #{$section-5-height-xl - 13}vw;
        }
    }
    .section-6 {

    }
    .section-7 {

    }
}