// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #main-nav {
        z-index: 101;
        position: relative;
        #nav-title {            
            background-image: url("../img/SwellcoinLogoWhite.png") !important;
            background-repeat: no-repeat;
            background-size: contain;        
            display: block;
            float: left;
            width: 100px;     
            height: 32px;                                       
            margin: 20px 0 0 20px;
        }
        #nav-toggle {
            display: none;
        }
        ul {        
            display: block !important;
            margin: 10px;
            float: right;
            padding-top: 0;
            li {                
                list-style-type: none;
                float: left; 
                margin: 10px;
                a {                
                    //margin: 10px;                    
                    text-decoration: none;
                    padding: 5px;        
                    border-bottom: 1px solid transparent;                
                    transition: border-bottom 0.3s ease-in-out 0s;
                    &:hover {
                        border-bottom: 1px solid $white;
                        color: $light-text;
                        //font-weight: 400;
                    }
                    &.sign-in {
                        padding: 5px 10px;
                        border: 1px solid #fff;
                        border-radius: 50px;
                        font-weight: 400;
                        transition: all .3s ease;
                        &:hover {
                            color: $brand-blue;
                            background-color: $white;
                        }
                    }
                }             
            }
        }   
    }

    nav {
        display: block;
    }

    .section-1 {
        @include chevronSectionDown($section-1-height-md);
        .content {
            padding-top: 13vw;
            .logo-title {                        
                width: 60vw; 
            }
            p {
                font-size: 20px;
                margin-bottom: 13vw; 
            }            
        }
    }
    .section-2 {
        @include chevronSectionDown($section-2-height-md);
        .content {
            max-width: none;       
            position: relative;
            .hiw-icon {
                display: none;
            }
            .hiw-full {
                display: block;
                margin: -170px auto 0 auto;
                width: 100%;
            }            
            .hiw-text {
                float: left;
                width: 20%;
                font-size: 20px;
                position: absolute;
                padding: 0;
                &:nth-of-type(1) {
                    top: 60%;
                    left: 8%;
                }
                &:nth-of-type(2) {
                    top: 82%;
                    left: 39.5%;
                }
                &:nth-of-type(3) {
                    top: 60%;
                    left: 73%;
                }
            }
        }
    }
    .section-3 {                
        .content {
            margin-bottom: 60px;
            display: flex;
            .get-started {
                width: 30%;
                margin: 0;
                padding: 0 28px;
                border: none;
                border-left: 1px solid $light-text;
                &:first-child { 
                    border-left: none; 
                }
                h4 {
                    margin-top: 20px;
                    margin-bottom: 0;
                }
                p { 
                    display: block;
                    min-height: 100px;
                    margin-top: 0;
                    margin-bottom: 40px;
                    line-height: 20px;
                    font-size: 18px;
                }
                .btn {
                    margin-bottom: 38px;
                }
            }
        }
    }
    .section-4 {
        height: #{$section-4-height-md}vw;
    }
    .section-5 {
        @include chevronSectionUp($section-5-height-md);
    }
    .section-6 {

    }
    .section-7 {
        .content {            
            form {                   
                button {
                    display: inline;                                        
                    width: auto;
                    padding: 15px 30px;
                    margin-top: 15px;
                }
            }
        }
    }

    .section-footer {                
        ul.site {                                            
            li {
                font-size: 16px;
                display: inline-block;
                
                border-right: 1px solid;
                &:last-child {
                    border-right: none;
                }
            }
        }        
    }
 
 // INFO PAGES

    body.info-page {
        background-color: $white;    
        #main-nav {
            @include backgroundImageGradient($bgImgUrl1);    
            position: absolute;
            top: 0;
            width: 100%;
            float: left;            
        } 
        .page-content {
            margin-top: 71px;    
            float: none;
        }       
    }
 }

