// Colors
$white: #fff;
$dark-gray: #3d3d3d;
$light-gray: lightgray;
$brand-green: #85c14f; // rgb(133, 193, 79)
$brand-blue: #459bbc; // rgb(69, 155, 188)

$light-text: white;
$dark-text: #1d1d1d;


$gradient-left: rgba(133, 193, 79, .9);
$gradient-right: rgba(69, 155, 188, .9);
$overlay-color-blue: rgba(69, 155, 188, .9);
$overlay-color-gray: rgba(35, 35, 35, .9);

$bgImgUrl1: "../img/bg1.jpg"; 
$bgImgUrl2: "../img/bg2.jpg"; 
$bgImgUrl3: "../img/bg3.jpg";
$bgImgUrl4: "../img/bg4.jpg";

// measured in percent
$chevron-angle: 21.5; 

// Section Heights
// will be rendered as vw
$section-1-height-xs: 130;
$section-1-height-sm: 90; 
$section-1-height-md: 65; 
$section-1-height-lg: 50;
$section-1-height-xl: 43;

$section-2-height-xs: 335;
$section-2-height-sm: 225;
$section-2-height-md: 97;
$section-2-height-lg: 90;
$section-2-height-xl: 70;

$section-4-height-xs: 80;
$section-4-height-sm: 60;
$section-4-height-md: 50;
$section-4-height-lg: 40;
$section-4-height-xl: 40;

$section-5-height-xs: 70;
$section-5-height-sm: 70;
$section-5-height-md: 70;
$section-5-height-lg: 60;
$section-5-height-xl: 50;